.line-encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #C4C4CC;
}
.line-encabezado-title{
    font-size: 18px;
    font-weight: 700;
}
.line-encabezado-count{
    font-size: 14px;
    font-weight: 400;
}